<h1 class="display-1">Welcome to the blog!</h1>

<% @users.each do |u| %>
	<h4 class="display-4"><%= link_to u.full_name, u %></h4>
	<ul>
		<li>
			<%= u.posts.count %> posts
		</li>
		<li>
			<%= u.comments.count %> comments
		</li>
	</ul>
<% end %>


Age: <%= distance_of_time_in_words(Time.now - 22.years, Time.now) %>
<br>
Date: <%= select_date(Time.now + 10.days) %>
<br>
<%= hello %>
<br>
